<a href="https://colab.research.google.com/github/410550361/Introduction-to-Computers/blob/main/0608.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
subject=["國文","英文","數學"]
scores=[85,79,93]
for j in range(len(scores)):
  print("%s成績:%d分"%(subject[j],scores[j]))

國文成績:85分
英文成績:79分
數學成績:93分

In [14]:
name=['Tom','Mary','Tony']
number=[1,2,3]
for j in range(len(name)):
  print("編號:%d 姓名:%s"%(number[j],name[j]))

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony